---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {}

const { href, class: className, ...props } = Astro.props;
---

<a href={`/tags/${href}`} class:list={["text-gb-dm-bg0 dark:text-gb-dm-fg0 py-1 px-2 m-0",className]} {...props}>
	<slot />
</a>