---
import type { HTMLAttributes } from "astro/types";
import { BASE } from "../../utils/baseUrl";

export interface Props extends HTMLAttributes<"a"> {
  color: string;
}

const { href, color, class: className, ...props } = Astro.props;
---

<a
  href={`${BASE}/tags/${href}`}
  class:list={["text-gb-dm-bg0 dark:text-gb-dm-fg0 flex py-1 m-0", className]}
  {...props}
>
  <slot />
</a>

<style define:vars={{ color }}>
  a::before {
    content: "#";
    color: var(--color);
  }
</style>
