/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
* {border-radius: 4px;}
body {
	font-family: 'JetBrains Mono', monospace;
	margin: auto;
	padding: 4rem 2rem 0;
	max-width: 48rem;
	text-align: left;
	@apply bg-gb-dm-fg0 text-gb-dm-bg0 dark:bg-gb-dm-bg0-hard dark:text-gb-dm-fg0; 
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	/* color: #444; */
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	@apply text-gb-lm-light-green dark:text-gb-dark-green;
	/* @apply text-gb-lm-light-aqua dark:text-gb-dark-aqua; */
}
a {
	@apply text-gb-lm-light-purple dark:text-gb-dark-purple
	/* @apply text-gb-lm-light-orange dark:text-gb-dark-orange; */
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	@apply italic bg-gb-dm-light-gray text-gb-dark-red dark:bg-gb-dm-bg0 dark:text-gb-lm-light-orange;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid;
	@apply border-gb-dm-bg1 dark:border-gb-dm-fg1;
	/* color: #222; */
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
mark {
	padding: 0 .4rem;
	@apply bg-gb-dark-yellow;
}
