---
import { getCollection } from "astro:content";
import BasePage from "../../layouts/BasePage.astro";
import getUniqueTags, { getPostsByTag, toSlug } from "../../utils/manipulateTags";
import TagWrapper from "../../components/tag/TagWrapper.astro";
import { getPublishedPosts } from "../../utils/manipulatePosts";

const posts = getPublishedPosts(await getCollection("blog"))
const tags = getUniqueTags(posts);
---
<BasePage title="Tags" description="tags">
    <p slot="title">Tags</p> 
    <TagWrapper tags={tags} />
</BasePage>