---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello World!</h1>
			<p>
				Welcome to my personal blog, where I intend to write about interesting technologies/things. 
				I've encountered in my life as a software developer.
				Because that's the only way to make sure I don't forget most of the things I've accidentally stumbled upon.
				And maybe some of it will come in handy for you too.
			</p>
		</main>
		<Footer />
	</body>
</html>
